@charset "UTF-8";

*{
    margin: 0px;
}

body{
    display: flex;
    position: relative;
    height: 100%;
}

footer{
    background-color: rgba(71, 71, 219, 0.418);
    margin: 0px;
    padding: 5px 500px;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.linkpaginicial{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgba(54, 54, 138, 0.829);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
}

.linkpaginicial:hover{
    text-decoration: underline;
}

.coluna{
    display: flex;
    flex-direction: column;
}